<div class="container mt-5">
  <div class="px-5 py-3 mb-5 bg-white rounded shadow">
    <h1 class="fw-bold">Restaurants</h1>
  </div>

  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant) do %>
      <div class="px-5 py-3 mb-5 bg-white rounded">
        <p><%= restaurant.name %></p>
      </div>
    <% end %>
  <% end %>
</div>
